doctype html
html(lang="en")
    - var flycricket = true
    - var noTracking = true
    - var gdpr = true

    //- Application code
    head
        include includes/head.pug
    body.bg-zinc-800.h-screen.overflow-auto
        #app.container.mx-auto.p-12
            include includes/content.pug
        include includes/footer.pug
