<template>
    <section id="step-1" v-if="wizardStep === 1">
        <div class="max-w-5xl mx-auto bg-zinc-700  p-4 rounded-2xl text-center">
            <img class="w-96 inline" src="images/app_graphics/side_image.svg" alt="Hero Image">
            <h1 class="text-white  text-4xl font-semibold"> <span class="text-lime-300">SuperSimple</span> <br> Privacy Policy Generator</h1>
            hr.my-6
            <p class="text-base max-w-2xl mx-auto mt-2 text-white">Generate a customized Privacy Policy and Terms of Use document that perfectly fits your mobile app. With our simple and intuitive interface, you can easily customize the policies to suit the needs of your app. Whether you're an individual or a developer, you can easily create a comprehensive privacy policy that meets the standards of your target audience.</p>
            <hr>
            <button class="mt-6 bg-lime-700 text-white rounded-3xl px-6 py-3 font-bold text-lg hover:shadow-2xl hover:bg-lime-800 " @click="nextStep">Start</button>
        </div>
    </section>
</template>